<aside id="sidebar" class="bg-gray-900 text-gray-100
    min-h-screen
    transition-all duration-300
    z-40
    fixed inset-y-0 left-0
    sm:relative sm:translate-x-0">
    <div class="border-b border-gray-800 flex items-center justify-between p-4">
        <a href="/" class="">
            <h1 class="text-lg font-semibold tracking-wide menu-text truncate w-full">
                Gestor de tareas    
            </h1>
        </a>

        <button id="toggleSidebarMobile" class="flex items-center gap-3 p-2 rounded
            hover:bg-gray-800
            transition-colors">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>

    <nav class="flex-1 p-2 space-y-2">
        <a href="{% url 'board_list' %}" class="group flex items-center gap-3 p-2 rounded
                     border-l-4 border-transparent
                     transition-all duration-200
                     hover:bg-blue-600/20 hover:border-blue-500">
            <i class="fa-solid fa-table-columns text-gray-400
                          group-hover:text-blue-400"></i>
            <span class="menu-text
                             text-gray-200
                             group-hover:text-blue-400">Boards</span>
        </a>
        <a href="{% url 'board_create' %}" class="group flex items-center gap-3 p-2 rounded
                     border-l-4 border-transparent
                     transition-all duration-200
                     hover:bg-blue-600/20 hover:border-blue-500">
            <i class="fa-solid fa-plus text-gray-400
                          group-hover:text-blue-400"></i>
            <span class="menu-text
                             text-gray-200
                             group-hover:text-blue-400">Crear</span>
        </a>
        <a href="#" class="group flex items-center gap-3 p-2 rounded
                     border-l-4 border-transparent
                     transition-all duration-200
                     hover:bg-blue-600/20 hover:border-blue-500">
            <i class="fa-solid fa-address-card text-gray-400
                          group-hover:text-blue-400"></i>
            <span class="menu-text
                             text-gray-200
                             group-hover:text-blue-400">Perfil</span>
        </a>
    </nav>
</aside>